<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Amazon Prime</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
<div class="page">
  <h1>Amazon Prime Searching System</h1> 
  <h3>This API uses a database of movies and TV shows on Amazon Prime. The way to use it is by firstly entering the type of movie or TV show you wish to watch. Then, the system searches through the Amazon Prime database and gives the titles of 10 movies or TV shows which match the criteria. For example, if the user enters "Comedy" in the "Genre" box, then they will get results of movies and shows which are Comedies. They can also enter values in multiple text boxes. For example, if they enter "Comedy" in the "Genre" box AND "Germany" in the "country" box, then they will get comedies made in Germany.</h3>     
  </div>

  <form if="form" action="{{ url_for('get_data')}}"method="POST" class="form-inline">
      <button id="button" type="submit" class="btn btn-primary btn-block btn-large">Enter</button><br>

      <input type="text" name="textbox1" placeholder="Genre" />
      <input type="text" name="textbox2" placeholder="Age rating" />
      <input type="text" name="textbox3" placeholder="Release year" />
      <input type="text" name="textbox4" placeholder="Duration" />
      <input type="text" name="textbox5" placeholder="Cast" />
      <input type="text" name="textbox6" placeholder="Director" />
      <input type="text" name="textbox7" placeholder="Country" />
      
      <ul>
        <li>{{result1}}</li>
        <li>{{result2}}</li>
        <li>{{result3}}</li>
        <li>{{result4}}</li>
        <li>{{result5}}</li>
        <li>{{result6}}</li>
        <li>{{result7}}</li>
        <li>{{result8}}</li>
        <li>{{result9}}</li>
        <li>{{result10}}</li>
        </ul>
    </form>
   <br>
   <br>
</body>
</html>