<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Amazon Prime</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>

<body>
<div class="page">
  <h1>Amazon Prime Searching System</h1>
  </div>

  <form if="form" action="{{ url_for('get_data')}}"method="POST" class="form-inline">
      
          <h2 style="font-size:15pt">{{input_features}}</h2>
          
      <ul>
        <li>{{result1}}</li>
        <li>{{result2}}</li>
        <li>{{result3}}</li>
        <li>{{result4}}</li>
        <li>{{result5}}</li>
        <li>{{result6}}</li>
        <li>{{result7}}</li>
        <li>{{result8}}</li>
        <li>{{result9}}</li>
        <li>{{result10}}</li>
        </ul>
    </form>
   <br>
   <br>
</body>
</html>